# packages in environment at /Users/Akshar/miniconda3/envs/py27:
#
amqp                      1.4.9                     <pip>
anaconda-client           1.5.1                    py27_0  
anyjson                   0.3.3                     <pip>
billiard                  3.3.0.23                  <pip>
celery                    3.1.23                    <pip>
clyent                    1.2.2                    py27_0  
cycler                    0.10.0                    <pip>
django                    1.9.5                    py27_0  
kombu                     3.0.35                    <pip>
matplotlib                1.5.2                     <pip>
numpy                     1.9.0                     <pip>
openssl                   1.0.2h                        2  
pip                       8.1.2                    py27_0  
PyAlgoTrade               0.16                      <pip>
pyparsing                 2.1.8                     <pip>
python                    2.7.12                        1  
python-dateutil           2.5.3                    py27_0  
pytz                      2016.6.1                 py27_0  
pyyaml                    3.11                     py27_4  
readline                  6.2                           2  
redis                     2.10.5                    <pip>
requests                  2.11.1                   py27_0  
setuptools                26.1.1                   py27_0  
six                       1.10.0                   py27_0  
sqlite                    3.13.0                        0  
tk                        8.5.18                        0  
wheel                     0.29.0                   py27_0  
yaml                      0.1.6                         0  
zlib                      1.2.8                         3  
# packages in environment at /Users/Akshar/miniconda3/envs/py27:
#
amqp                      1.4.9                     <pip>
anaconda-client           1.5.1                    py27_0  
anyjson                   0.3.3                     <pip>
billiard                  3.3.0.23                  <pip>
celery                    3.1.23                    <pip>
clyent                    1.2.2                    py27_0  
cycler                    0.10.0                    <pip>
django                    1.9.5                    py27_0  
kombu                     3.0.35                    <pip>
matplotlib                1.5.2                     <pip>
numpy                     1.11.1                    <pip>
openssl                   1.0.2h                        2  
pip                       8.1.2                    py27_0  
PyAlgoTrade               0.18                      <pip>
pyparsing                 2.1.8                     <pip>
python                    2.7.12                        1  
python-dateutil           2.5.3                    py27_0  
pytz                      2016.6.1                 py27_0  
pyyaml                    3.11                     py27_4  
readline                  6.2                           2  
redis                     2.10.5                    <pip>
requests                  2.11.1                   py27_0  
setuptools                26.1.1                   py27_0  
six                       1.10.0                   py27_0  
sqlite                    3.13.0                        0  
tk                        8.5.18                        0  
wheel                     0.29.0                   py27_0  
yaml                      0.1.6                         0  
zlib                      1.2.8                         3  
